# From Android Studio template
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
androidx.databinding*

# Custom settings
/.idea/misc.xml
/release
/docker-mailserver/maildata_volume/

# Keystore files
*.jks

# keystore info
/FlowCrypt/keystore.properties

# some runtime files
.attach*

# some helper scripts copied into the repo root dir
/compile.sh
/ctest.sh
/test.sh
