<?xml version="1.0"?><!--
  ~ © 2016-2019 FlowCrypt Limited. Limitations apply. Contact human@flowcrypt.com
  ~ Contributors: DenBond7
  -->

<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="SuppressionFilter">
        <property name="file" value="${checkStyleConfigDir}/checkstyle_suppressions.xml" />
    </module>

    <module name="Header">
        <property name="header" value=" * © 2016-2018 FlowCrypt Limited." />
        <property name="ignoreLines" value="1" />
    </module>

    <module name="NewlineAtEndOfFile" />

    <module name="FileLength">
        <property name="max" value="2000" />
    </module>

    <module name="TreeWalker">
        <!-- Block Checks.                                            -->
        <!-- See http://checkstyle.sourceforge.net/config_blocks.html -->
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock" />
        <module name="EmptyCatchBlock" />
        <module name="LeftCurly" />
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true" />
        </module>
        <module name="RightCurly" />

        <!-- Checks for class design                         -->
        <!-- See http://checkstyle.sf.net/config_design.html -->
        <module name="FinalClass" />
        <module name="InnerTypeLast" />
        <module name="InterfaceIsType" />
        <module name="OneTopLevelClass" />

        <!-- Checks for coding                                        -->
        <!-- See http://checkstyle.sourceforge.net/config_coding.html -->
        <module name="DeclarationOrder" />
        <module name="DefaultComesLast" />
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode" />
        <module name="ExplicitInitialization" />
        <module name="FallThrough" />
        <module name="MultipleVariableDeclarations" />
        <module name="NestedTryDepth" />
        <module name="OneStatementPerLine" />
        <module name="OverloadMethodsDeclarationOrder" />
        <module name="ParameterAssignment" />
        <module name="RequireThis" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="UnnecessaryParentheses" />
        <module name="VariableDeclarationUsageDistance" />

        <!-- Checks for imports                                        -->
        <!-- See http://checkstyle.sourceforge.net/config_imports.html -->
        <module name="AvoidStarImport" />
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />

        <!-- Checks for miscellaneous                               -->
        <!-- See http://checkstyle.sourceforge.net/config_misc.html -->
        <module name="ArrayTypeStyle" />
        <module name="AvoidEscapedUnicodeCharacters" />
        <module name="CommentsIndentation" />
        <module name="Indentation">
            <property name="basicOffset" value="2" />
            <property name="braceAdjustment" value="0" />
            <property name="caseIndent" value="2" />
            <property name="throwsIndent" value="4" />
            <property name="arrayInitIndent" value="4" />
            <property name="lineWrappingIndentation" value="4" />
        </module>
        <module name="OuterTypeFilename" />
        <module name="UpperEll" />

        <!-- Checks for modifiers                                       -->
        <!-- See http://checkstyle.sourceforge.net/config_modifier.html -->
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />

        <!-- Checks for naming conventions                            -->
        <!-- See http://checkstyle.sourceforge.net/config_naming.html -->
        <module name="CatchParameterName" />
        <module name="ConstantName" />
        <module name="InterfaceTypeParameterName" />
        <module name="LambdaParameterName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="MethodTypeParameterName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />

        <!-- Checks for Size Violations.                    -->
        <!-- See http://checkstyle.sf.net/config_sizes.html -->
        <module name="AnonInnerLength">
            <property name="max" value="40" />
        </module>
        <!--<module name="ExecutableStatementCount"/>-->
        <module name="LineLength">
            <property name="max" value="120" />
        </module>
        <module name="MethodCount" />
        <module name="MethodLength" />
        <module name="OuterTypeNumber" />
        <module name="ParameterNumber">
            <property name="max" value="10" />
        </module>
    </module>
</module>
