<?xml version="1.0" encoding="utf-8"?><!--
  ~ Business Source License 1.0 © 2017 FlowCrypt Limited (tom@cryptup.org).
  ~ Use limitations apply. See https://github.com/FlowCrypt/flowcrypt-android/blob/master/LICENSE
  ~ Contributors: DenBond7
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowcrypt.email">

    <!-- android.permission.INTERNET needed to make a network requests -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- android.permission.ACCESS_NETWORK_STATE used to check is internet connection available -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- android.permission.READ_EXTERNAL_STORAGE used to import private keys -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FlowCryptApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Activities -->

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.EmailManagerActivity"
            android:label="@string/loading"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MessageDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SecureComposeActivity"
            android:label="@string/secure_compose"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SecureReplyActivity"
            android:label="@string/security_reply"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CreateOrImportKeyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ImportPrivateKeyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CheckKeysActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.LegalSettingsActivity"
            android:label="@string/legal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoElevation" />

        <activity
            android:name=".ui.activity.settings.ContactsSettingsActivity"
            android:label="@string/contacts"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.KeysSettingsActivity"
            android:label="@string/keys"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.BackupSettingsActivity"
            android:label="@string/backup"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.FeedbackActivity"
            android:label="@string/help_feedback_or_question"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.HtmlViewFromAssetsRawActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.DevSettingsActivity" />

        <!-- Providers -->
        <provider
            android:name=".database.provider.SecurityContentProvider"
            android:authorities="${applicationId}.SecurityContentProvider"
            android:enabled="true"
            android:exported="false" />

        <!-- Services -->
        <service
            android:name=".service.EmailAndNameUpdaterService"
            android:exported="false" />

        <service
            android:name=".service.EmailSyncService"
            android:exported="false" />

        <service
            android:name=".service.CheckClipboardToFindPrivateKeyService"
            android:exported="false" />
    </application>

</manifest>