<?xml version="1.0" encoding="utf-8"?><!--
  ~ © 2016-present FlowCrypt a.s. Limitations apply. Contact human@flowcrypt.com
  ~ Contributors: DenBond7
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flowcrypt.email"
    tools:ignore="LockedOrientationActivity">

    <!-- we use tools:ignore="LockedOrientationActivity" as for now we support android:screenOrientation="portrait" only-->

    <!-- android.permission.INTERNET is needed to make a network requests -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- android.permission.ACCESS_NETWORK_STATE is used to check is internet connection available-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- android.permission.WRITE_EXTERNAL_STORAGE is used to save attachments for Build.VERSION.SDK_INT <= Build.VERSION_CODES.P -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <!-- android.permission.RECEIVE_BOOT_COMPLETED will be used by JobScheduler to persists jobs after the device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- android.permission.WAKE_LOCK will be used by classes which extend JobIntentService -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Request the foreground service permission. Details here
     https://developer.android.com/guide/components/foreground-services#request-foreground-service-permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".FlowCryptApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup">

        <!-- Activities -->

        <activity
            android:name=".ui.activity.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_EMAIL" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SignInActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/sing_in_graph" />
        </activity>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- support Microsoft OAuth2.0 -->
                <data
                    android:host="${applicationId}"
                    android:path="@string/microsoft_redirect_path"
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.EmailManagerActivity"
            android:exported="false"
            android:label="@string/loading"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MessageDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.EmailManagerActivity"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/msg_details_graph" />
        </activity>

        <activity
            android:name=".ui.activity.CreateMessageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/create_msg_graph" />

            <intent-filter>
                <!--Handle the clicks on email links in a browser-->
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <!--Send a message to someone specified by the data. See RFC 6068 fro more details.
                 It does not support any attachments-->
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <!--Deliver some data to someone else. The sharing function with support the attachments-->
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <!--Deliver some multiple data to someone else. The sharing function with support the attachments-->
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.CreateOrImportKeyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ImportPrivateKeyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ImportPublicKeyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CheckKeysActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>

        <activity
            android:name=".ui.activity.settings.FeedbackActivity"
            android:exported="false"
            android:label="@string/help_feedback_or_question"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.HtmlViewFromAssetsRawActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SelectRecipientsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CreatePrivateKeyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SearchMessagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CorruptedStorageActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.activity.EditContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- https://developer.android.com/topic/libraries/architecture/workmanager/advanced/custom-configuration#remove-default -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        <!-- Services -->
        <service
            android:name=".service.PassPhrasesInRAMService"
            android:exported="false" />

        <service
            android:name=".service.IdleService"
            android:exported="false" />

        <service
            android:name=".service.CheckClipboardToFindKeyService"
            android:exported="false" />

        <service
            android:name=".service.attachment.AttachmentDownloadManagerService"
            android:exported="false" />

        <service
            android:name=".service.actionqueue.ActionQueueIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.PrepareOutgoingMessagesJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.FeedbackJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".accounts.FlowcryptAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver android:name=".broadcastreceivers.MarkMessagesAsOldBroadcastReceiver" />

        <receiver android:name=".broadcastreceivers.CorruptedStorageBroadcastReceiver" />

        <receiver
            android:name=".broadcastreceivers.AppUpdateBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
