<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flowcrypt.email">

    <!-- android.permission.INTERNET needed to make a network requests -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- android.permission.ACCESS_NETWORK_STATE used to check is internet connection available -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- android.permission.READ_EXTERNAL_STORAGE used to import private keys -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FlowCryptApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SendEmailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.EmailManagerActivity"
            android:label="@string/title_activity_email_manager"
            android:parentActivityName=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flowcrypt.email.ui.activity.SplashActivity" />
        </activity>

        <activity
            android:name=".ui.activity.RestoreAccountActivity"
            android:parentActivityName=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flowcrypt.email.ui.activity.SplashActivity" />
        </activity>

        <activity
            android:name=".ui.activity.MessageDetailsActivity"
            android:parentActivityName=".ui.activity.EmailManagerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flowcrypt.email.ui.activity.EmailManagerActivity" />
        </activity>

        <activity
            android:name=".ui.activity.SecureComposeActivity"
            android:label="@string/title_activity_secure_compose"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SecureReplyActivity"
            android:label="@string/title_activity_security_reply"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CreateOrImportKeyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.settings.LegalSettingsActivity"
            android:label="@string/legal"
            android:parentActivityName=".ui.activity.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoElevation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flowcrypt.email.ui.activity.settings.SettingsActivity" />
        </activity>

        <activity
            android:name=".ui.activity.settings.ContactsSettingsActivity"
            android:label="@string/contacts"
            android:parentActivityName=".ui.activity.settings.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flowcrypt.email.ui.activity.settings.SettingsActivity" />
        </activity>

        <activity
            android:name=".ui.activity.settings.KeysSettingsActivity"
            android:label="@string/keys"
            android:parentActivityName=".ui.activity.settings.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flowcrypt.email.ui.activity.settings.SettingsActivity" />
        </activity>

        <provider
            android:name=".database.provider.SecurityContentProvider"
            android:authorities="${applicationId}.SecurityContentProvider"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".service.EmailAndNameUpdaterService" />
    </application>

</manifest>